  body {
background-image: url("uwp2499113.webp");
}

h1 {
 font-family: "Times New Roman";
 color: lightblue;
font-size: 50pt;
}

li {
 font-family: "Georgia";
 color: lightblue;
 font-size: 20pt;
}

p1 {
 font-family: "Times New Roman", sans-serif;
 color: red;
 font-size: 20pt;
}

p2 {
  font-family: "Arial, Helvetica", sans-serif;
 color: red;
 font-size: 20pt;
}

div. static {
  position: static;
  border: 15px solid gray;
  padding: 10px;
  margin: 0px;
  overflow: auto
           }

p2 {
  width: 200px;
  border: 15px dotted blue;
  padding: 10px;
  margin: 30px;
  overflow: visible
           }
