  body {
background-image: url("uwp2499113.webp");
}

h1 {
 font-family: "Times New Roman";
 color: lightblue;
font-size: 50pt;
}

li {
 font-family: "Georgia";
 color: lightblue;
 font-size: 20pt;
}

div.static {
 font-family: "Times New Roman", sans-serif;
 color: red;
 font-size: 20pt;
}

div1.static {
  position: static;
  border: 10px solid white;
  padding: 10px;
  margin: 10px;
           }
