  body {
background-image: url("uwp2499113.webp");
}

h1 {
 font-family: "Times New Roman";
 color: lightblue;
font-size: 50pt;
}

li {
 font-family: "Georgia";
 color: lightblue;
 font-size: 20pt;
}

p1 {
 font-family: "Times New Roman", sans-serif;
 color: red;
 font-size: 20pt;
}

p2 {
  font-family: "Arial, Helvetica", sans-serif;
 color: red;
 font-size: 20pt;
}

p1 {
  width: 300px;
  height: 50;
  border: 15px solid pink;
  padding: 30px;
  margin: 100px;
  overflow: auto
           }

p2 {
  width: 300px;
  height: 50;
  border: 15px dotted blue;
  padding: 30px;
  margin: 100px;
  overflow: auto
           }
