body {
  background-image: url("21UB7QMQ+kL._AC_SY350_.jpg");
}

p2 {
  font-family: "Century Schoolbook";
  font-size: 50pt;
  color: lightblue;
}

h1 {
  font-family: "Century Scoolbook";
  font-size: 100pt;
  color: red;
}
