body {
  background-image: url("21UB7QMQ+kL._AC_SY350_.jpg");
}

p2 {
  font-family: "Century Schoolbook";
  font-size: 10pt;
  color: slate;
}

h1 {
  font-family: "Century Scoolbook";
  font-size: 40pt;
  color: blue;
}
