body {
  background-color: lightyellow;
}

p2 {
  font-family: "Century Schoolbook";
  font-size: 15pt;
}

h1 {
  font-family: "Century Scoolbook";
  font-size: 40pt;
  color: red;
  font-style: italic;
  text-align: center;
}

ul {
  font-family: "Century Schoolbook";
  color: darkblue;
}

p3 {
  font-family: "Century Schoolbook";
    color:black;
  font-size: 12pt;
}

img {
    float: left;
}
